*{
  margin:0;
  padding:0;
  vertical-align:baseline;
  list-style:none;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding:15px;
   background-color: rgb(85, 48, 6);
   overflow: hidden;
   line-height: 200px;
   max-height: 200px;
}