*{
  margin:0;
  padding:0;
  vertical-align:baseline;
  list-style:none;
}

header {
   display: flex; /* Responsável por colocar os itens na mesma linha (lado a lado) */
   align-items: center; /* alinhar os itens do nosso Header para o centro*/
   justify-content: space-evenly; /* tradução: justificar-conteúdo: espaço uniformemente. Alinhar os itens igualmente dentro da página*/
   padding:15px; /*Cuida do preenchimento*/
   background-color: rgb(85, 48, 6); /*Cor de fundo do nosso Cabeçalho/header*/
   overflow: hidden; /* */
   line-height: 200px; /*altura da linha*/
   max-height: 200px; /*altura máxima*/
}

header > h1 { /* selecionamos aqui a cor da letra do nosso h1 ou seja, do nosso titulo */
   color: white; /* chamamos a propriedade color e definimos uma cor em questão*/
}

header > img { /* aqui estamos chamando nossa imagem para ser atribuidas alterações */
    width: 200px;
    height: 115px;
}


#menu-header { /* nosso menu de navegação*/
    display: flex; /*responsável por colocar os itens na mesma linha (lado a lado) */
    align-items: center; /* Alinhar os itens do nosso header para o centro */
}

#list-menu { /* nossa lista não ordenada, aqui mudaremos diretamente nossa lista*/
    display: flex; /* reponsável or colocar os itens na mesma linha (lado a lado) */
    margin-right: 1rem ; /* margem da direita. 1 rem esquivale a 16 px, ou seja podemos usalo */
}

.item-menu-header { /* nossas li que estão dentro do list menu*/
  margin-right: 25px;
}

.item-menu-header > a:hover { /*nossas li que estão dentro do list menu*/
  color: yellow;
  transition: 1s;
}

.item-menu-header > a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

#btn-header { /*botão de login */
  display: flex;

}

#btn-header > button {
  padding: 8px;
  background-color: transparent;
  border: none;
}

#btn-header > button > a {
  display: flex;
  align-items: center;
}
#btn-header > button > a > img {
  width: 30px;
  height: 30px;
  margin-right: 2px;
}


