*{
  margin:0;
  padding:0;
  vertical-align:baseline;
  list-style:none;
}

header {
   display: flex; /* Responsável por colocar os itens na mesma linha (lado a lado) */
   align-items: center; /* alinhar os itens do nosso Header para o centro*/
   justify-content: space-evenly; /* tradução: justificar-conteúdo: espaço uniformemente. Alinhar os itens igualmente dentro da página*/
   padding:15px; /*Cuida do preenchimento*/
   background-color: rgb(85, 48, 6); /*Cor de fundo do nosso Cabeçalho/header*/
   overflow: hidden; /* */
   line-height: 200px; /*altura da linha*/
   max-height: 200px; /*altura máxima*/
}

header > h1 { /* selecionamos aqui a cor da letra do nosso h1 ou seja, do nosso titulo */
   color: white; /* chamamos a propriedade color e definimos uma cor em questão*/
}

header > img { /* aqui estamos chamando nossa imagem para ser atribuidas alterações */
    width: 240px;
    height: 165px;
}


#menu-header { /* nosso menu de navegação*/
    display: flex; /*responsável por colocar os itens na mesma linha (lado a lado) */
    align-items: center; /* Alinhar os itens do nosso header para o centro */
}

#list-menu { /* nossa lista não ordenada, aqui mudaremos diretamente nossa lista*/
    display: flex; /* reponsável or colocar os itens na mesma linha (lado a lado) */
    margin-right: 1rem ; /* margem da direita. 1 rem esquivale a 16 px, ou seja podemos usalo */
}

.item-menu-header { /* nossas li que estão dentro do list menu*/
  margin-right: 25px; /* margem da direita*/
}

.item-menu-header > a:hover { /*nossas li que estão dentro do list menu*/
  color: yellow; /* aqui demos uma cor*/
  transition: 1s; /* é o tempo em que será exibido ao passar o cursor*/
}

.item-menu-header > a { /*nossa li que estão dentro do list menu, (a) nossa tag de link que é*/
  color: white; /*cor das letras*/
  text-decoration: none; /* reponsável por tirar o sublinhado da parte inferior do texto*/
  font-size: 12px; /* tamanho da letra*/
}

#btn-header { /*botão de login */
  display: flex; /* responsável por colocar os itens na mesma linha*/

}

#btn-header > button { /*aqui chamamaos nossa id e onde queremos fazer as alterações*/
  padding: 8px;
  background-color: transparent;
  border: none; /* none é usado para anular algo, nesse caso a borda*/
}

#btn-header > button > a {
  display: flex;
  align-items: center;
}
#btn-header > button > a > img { /* aqui estamos mexendo no ICON do botão*/
  width: 30px; /*largura*/
  height: 30px; /*tamanho*/
  margin-right: 2px; /*margem da direita*/
}

#btn-header > button > a { /*estamos chamando aqui nossa tag de link para alterar*/
  color: white; /*cor da letra*/
  text-decoration: none; /*responsável por tirar o sublinhado que estava no texto*/
  font-weight: 400; /* espessura da fonte*/
}

#img-destaque{ /* aqui chamamos a id que chamamos no html*/
  padding: 260px; /*cuida do preenchimento*/
  background-image: url(imagens/padaria.webp); /*usada para inserir imagens*/
  background-position: center; /* aqui posicionamos nossa imagem para o centro*/
}

/* diferença entre id e class: a diferença entre eles é que um id é usado apenas quando tem só um elemnto que precisa ser editado
já o class pode ser usado para identificar diversas coisas ao mesmo tempo, facilitando a edição*/


.img-div { /* aqui chamamos nossa class para alteração*/
  padding: 25px; /*cuida do preenchimento*/
  background-image:url(imagens/img-div.jpg); /* usada para inserir imagens de fundo*/
  background-position: center; /* aqui posicionamos nossa imagem para o centro*/
  background-size: auto; /* background-size: especifica o tamanho das imagens, auto: serve para preencher de uma lateral à outra*/
}




